@keyframes return {
  0% {
    filter: none;
  }

  1% {
    filter: brightness(10)
  }

  10% {
    filter: brightness(10) brightness(0.5) sepia(1) hue-rotate(311deg) saturate(10) brightness(3);
  }

  20% {
    filter: brightness(10) brightness(0.5) sepia(1) hue-rotate(311deg) saturate(10) brightness(1.8);
  }

  30% {
    opacity: 0.8;
  }

  40% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.2;
  }

  90% {
    opacity: 0;
  }

  100% {
    filter: brightness(10) brightness(0.5) sepia(1) hue-rotate(311deg) saturate(10) brightness(1.8);
    opacity: 0;
  }
}

@keyframes damage {
  0% {
    filter: none;
  }

  50% {
    filter: brightness(10) brightness(0.5) sepia(1) hue-rotate(311deg) saturate(10) brightness(3);
  }

  70% {
    filter: brightness(10) brightness(0.5) sepia(1) hue-rotate(311deg) saturate(10) brightness(1.8);
  }

  100% {
    filter: none;
  }
}