.size-wrapper {
  position: relative;
  height: 100%;

  .bottom-wrapper {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;

    .healthBar-infos-wrapper {
      top: -5vh;
      left: 0%;
    }
  
    img {
      top: 0;
      width: 100%;

      &.target {
        filter: drop-shadow(0 0 0.75rem crimson);
        cursor: pointer;
      }
    }
  }
}