.size-wrapper {
  position: relative;
  height: 100%;

  .bottom-wrapper {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;

    .healthBar-infos-wrapper {
      top: -5vh;
      left: 0%;
    }

    .intent {
      position: absolute;
      bottom: 2vw;
      left: 50%;
      width: 5vw;
      transform: translateX(-50%);
      font-family: "ERASDEMI";
      font-weight: 800;
      color: #fff;
      -webkit-text-stroke-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;

      .intent-category {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(1px 1px 1px black);

        &.damage {
          .img-wrapper {
            flex: 0.4;
          }
        }

        &.block {
          .img-wrapper {
            flex: 0.3;
          }
        }

        .text-wrapper {
          margin-right: 2%;

          .super-effective {
            color: #ed3419;
          }

          .not-very-effective {
            color: #0096ff;
          }
        }
      }
    }
  
    img {
      top: 0;
      width: 100%;

      &.target {
        filter: drop-shadow(0 0 0.75rem crimson);
        cursor: pointer;
      }
    }
  }
}