.healthBar {
  width: 110%;
  height: 0.74vw;
  // height: 1.2vh;
  background-color: #363636;
  border: 1px solid #000;
  position: relative;
  filter: drop-shadow(0px 2px 1px #000);

  .currentHealth {
    height: calc(100% + 1px);
  
    &.green {
      background: #45c43a;
    }
  
    &.orange {
      background: #e5bf37;
    }
  
    &.red {
      background: #ef3131;
    }
  }

  .bottom-infos {
    display: flex;
    justify-content: space-between;

    .healthAmount {
      font-family: 'ERASDEMI';
      color: #fff;
      // filter: drop-shadow(1px 1px 1px black);
    }

    .attack-wrapper {
      padding-left: 5%;
      width: 20%;
      font-family: 'ERASDEMI';
      color: #fff;
      filter: drop-shadow(1px 1px 1px black);
    }
  }

  .status-wrapper {
    position: absolute;
    display: flex;
    top: 0%;
    left: 95%;
    transform: translateY(-30%);
    height: 1.5vw;

    .block-wrapper {
      width: 1.5vw;
      background-image: url('../../assets/img/interface/shield4.png');
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .blockAmount {
        color: #fff;
        font-family: 'ERASDEMI';
        filter: drop-shadow(1px 1px 1px black);
        margin-bottom: 2px;
      }
    }

    .burn-wrapper {
      width: 1.5vw;
      background-image: url('../../assets/img/types/fire.png');
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .burnkAmount {
        color: #fff;
        font-family: 'ERASDEMI';
        filter: drop-shadow(1px 1px 1px black);
        margin-top: 20%;
      }
    }
  }


}