.size-wrapper {
  position: relative;
  height: 100%;

  .bottom-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;

    .pokemon-sprite {
      width: 100%;
      height: fit-content;
      transform: scaleX(-1);
    }

    .damage-fx-wrapper {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .healthBar-infos-wrapper {
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
  }

  .help-tooltip {
    transform: translate(-50%, -100%);
  }
}