.size-wrapper {
  position: relative;
  height: 100%;

  .healthBar-infos-wrapper {
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
  }

  .pokemon-sprite {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: scaleX(-1);
  }
}