.game-interface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    background-image: url('../../assets/img/interface/top_border.jpg');
    background-position: bottom;
    display: flex;
    align-items: center;
    padding: 0 1%;
    z-index: 7;

    .interface-item {
        width: 2%;
        height: 50%;
        cursor: pointer;

        &.inactive {
            filter: grayscale(50);
            pointer-events: none;
        }

        &.town-map {
            background: center / contain no-repeat url('../../assets/img/interface/town-map.png');
        }

        &.team {
            background: center / contain no-repeat url('../../assets/img/interface/poke-ball.png');
        }

        &.fullscreen-toggle {
            margin-left: auto;
        }

        &.fullscreen {
            background: center / contain no-repeat url('../../assets/img/interface/fullscreen.png');
        }

        &.notfullscreen {
            background: center / contain no-repeat url('../../assets/img/interface/notfullscreen.png');
        }
    }
}


.component-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    background: rgba($color: #000000, $alpha: 0.9);
    z-index: 7;

    .close {
        position: absolute;
        top: 2%;
        right: 2%;
        width: 3%;
        cursor: pointer;
    }
}