
.team-wrapper {
  display: flex;
  padding-top: 10px;
  justify-content: center;

  .team-member-wrapper {
    width: 30%;

    .pokemon-info {
      width: 50%;
      margin: 0 auto;
    }

    .pokemon-wrapper {
      height: auto;
    }

    .healthBar-infos-wrapper {
      .healthBar {
        background-color: #363636;
        border: 1px solid #000;
        position: relative;
        filter: drop-shadow(0px 2px 1px #000);
        height: 1.2vh;

        .currentHealth {
          height: calc(100% + 1px);
        
          &.green {
            background: #45c43a;
          }
        
          &.orange {
            background: #e5bf37;
          }
        
          &.red {
            background: #ef3131;
          }
        }

        .bottom-infos {
            display: flex;
    
          .healthAmount {
            font-family: 'ERASDEMI';
            color: #fff;
          }
        }
      }
    }
  }
}

