#background-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    &.starter_background {
        background-image: url("../../assets/img/backgrounds/starter_background.jpg");
    }

    &.pkmcenter {
        background-image: url("../../assets/img/backgrounds/pkmcenter.jpg");
    }

    &.forest {
        background-image: url("../../assets/img/backgrounds/forest.gif");
    }

    .weather-wrapper {
        width: 100%;
        height: 100%;
        background-size: cover;

        &.rain {
            animation: rain 0.5s linear forwards;
            animation-iteration-count: infinite;
        }
    }
}