@keyframes rain {
    0% {
        background-image: url("../../assets/img/backgrounds/weather/rain/frame_1.png");
    }
    33% {
        background-image: url("../../assets/img/backgrounds/weather/rain/frame_2.png");
    }
    66% {
        background-image: url("../../assets/img/backgrounds/weather/rain/frame_3.png");
    }
    99% {
        background-image: url("../../assets/img/backgrounds/weather/rain/frame_1.png");
    }
}