@keyframes discardFromSelection {
    0% {
        left: 20%;
        bottom: 153%;
        transform: scale(1.2);
    }
    100% {
        left: 91%;
        bottom: -17%;
        transform: scale(0.1);
    }
}

@keyframes discardFromHand {
    0% {
        left: 45%;
        bottom: -3%;
        transform: scale(1);
    }
    100% {
        left: 91%;
        bottom: -17%;
        transform: scale(0.1);
    }
}