@keyframes draw {
    0% {
      left: -1%;
      bottom: 0;
      transform: scale(0.1);
    }
    10% {
        left: 5%;
        bottom: 10%;
        transform: scale(0.2);
    }
    20% {
        left: 10%;
        bottom: 20%;
        transform: scale(0.2);
    }
    30% {
        left: 15%;
        bottom: 30%;
        transform: scale(0.6);
    }
    40% {
        left: 20%;
        bottom: 40%;
        transform: scale(0.8);
    }
    50% {
        left: 25%;
        bottom: 50%;
        transform: scale(1);
    }
    60% {
        left: 30%;
        bottom: 40%;
    }
    70% {
        left: 35%;
        bottom: 30%;
    }
    80% {
        left: 40%;
        bottom: 20%;
    }
    90% {
        left: 45%;
        bottom: 10%;
    }
    99% {
        left: 45%;
        bottom: 0;
    }
    100% {
        left: auto;
        bottom: auto;
    }
}