.card {
    position: absolute;
    width: 10.2%;
    height: 89%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    left: auto;
    top: auto;
    border: 2px solid #000;
    transition: left .3s, bottom .3s ease-out;
    transform-style: preserve-3d;

    &.playable {
        filter: drop-shadow(0 0 0.75rem green);
    }

    &.normal {
        background-color: #909aa0;
    }

    &.electric {
        background-color: #f4d23c;
    }

    &.psychic {
        background-color: #fa7179;
    }

    &.grass {
        background-color: #909aa0;
    }

    &.water {
        background-color: #909aa0;
    }

    &.fire {
        background-color: #909aa0;
    }

    &.rock {
        background-color: #909aa0;
    }

    &.ground {
        background-color: #909aa0;
    }

    &.bug {
        background-color: #909aa0;
    }

    &.flying {
        background-color: #909aa0;
    }

    &.ghost {
        background-color: #909aa0;
    }

    &.dark {
        background-color: #909aa0;
    }

    &.ice {
        background-color: #909aa0;
    }

    &.fairy {
        background-color: #909aa0;
    }

    &.dragon {
        background-color: #909aa0;
    }

    &.fighting {
        background-color: #909aa0;
    }

    &.poison {
        background-color: #909aa0;
    }

    &.steel {
        background-color: #909aa0;
    }

    &:hover {
        z-index: 2;
        scale: 1.1;
    }

    .cost {
        position: absolute;
        width: 16%;
        height: 11%;
        top: -2%;
        left: -2%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'gill extra bold';
        color: #fff;

        img {
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .name {
        position: absolute;
        top: 5%;
        left: 14.5%;
        color: black;
        font-family: 'futura';
        text-transform: capitalize;
    }

    .type {
        position: absolute;
        width: 21%;
        height: 5%;
        top: 5.5%;
        right: 11%;
        font-family: 'futura condensed';
        color: #fff;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .illustration {
        position: absolute;
        top: 13.5%;
        left: 5.9%;
        width: 88%;
        height: 37.1%;
        border-radius: 1px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .category {
        position: absolute;
        width: 47%;
        height: 8%;
        top: 47%;
        left: 25%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        font-family: 'futura';
        filter: drop-shadow(1px 1px 1px black);
    }

    .tooltip {
        position: absolute;
        top: 59%;
        left: 7%;
        width: 86%;
        height: 36%;
        padding: 2%;
        font-family: 'gill sans bold';
        color: #000;

        &.super-effective {
            .damage {
                color: #ed3419;
            }
        }

        &.not-very-effective {
            .damage {
                color: #0096ff;
            }
        }
    }
}

.draw {
    animation: draw 1s linear;
    pointer-events: none;
}

.discardFromSelect {
    animation: discardFromSelection .5s linear;
    pointer-events: none;
}

.dicardFromHand {
    animation: discardFromHand .5s linear;
    pointer-events: none;
}