.deck-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 20px;
    padding: 12px;
    height: 100%;

    .card-slot {
        width: 12%;
        margin: 0 5px 5px 0;
    }
}