.hand-area {
    position: absolute;
    width: 50%;
    height: 40%;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background: rgba($color: #000000, $alpha: 0.3);
}