@keyframes rain {
    0% {
        background-image: url("../../../assets/img/backgrounds/weather/rain/rain_frame_1.png");
    }
    33% {
        background-image: url("../../../assets/img/backgrounds/weather/rain/rain_frame_2.png");
    }
    66% {
        background-image: url("../../../assets/img/backgrounds/weather/rain/rain_frame_3.png");
    }
}
